* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1440;
    width: 100%;
    padding: 0 100px;
}

h1 {
    font-family: 'Nunito Sans';
    font-size: 50px;
    font-weight: 700;
    line-height: 68.2px;
    text-align: left;
  }

  h2 {
    font-family: 'Nunito Sans';
    font-size: 48px;
    font-weight: 700;
    line-height: 65.47px;
    text-align: left;
  }

  .second-section {
    display: flex;
    justify-content: center;
    gap:76px ;
 }

 .projects-info p {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 49px;
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;
color: #191018;
}


.projects-info p:first-child {
    font-family: 'Nunito Sans';
    font-size: 48px;
    font-weight: 700;
    line-height: 65.47px;
    text-align: center;
 }   
    
.Latest-work {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 42px;
        text-align: center;
        color: #191018;
 }  

.Latest-work {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 42px;
        text-align: center;
        color: #191018;
}  


.card-description {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #2D2D2D;
    }
    